/* Navbar.css */
body{
  background: rgba(53,50,49,1) 
}
.navbar {
    background-color: #242323;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  /* .left{
width: 30%;
  }
  .right{
width: 50%;
  } */
  .navbar ul {
    list-style: none;
    display: flex;
  
  }
  
  .navbar li {
    margin: 0 10px;
    font-weight: 700;
    transition: all 0.5s;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
  }

  .navbar a:hover{
    color: #0074D9;
  }
  