/* MovieCard.css */
.movie-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 51, 153, 0.3);
}

.movie-card-front {
  height: 100%;
  width: 100%;
}

.movie-card-front img{
  width: 100%; /* Add this line */
  height: 100%;
  transition: all 0.5s;
}

.movie-card-front:hover img{
  transform: scale(1.05); /* Apply a zoom effect to the image on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.movie-card-back {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background:  linear-gradient(rgba(0,0,0,0.2), #0074D9);
  padding: 10px;
  color: #fff5eb;
  opacity: 0;
  transition: all 0.5s;
}

.movie-card-back:hover{
  opacity: 1;
}


/* Rest of your CSS styles for text and rating */

.movie__title{
  margin: 0 ;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.2rem;
}

.movie__infos{
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
}

.movie__info{
  display: flex;
  align-items:center;
  margin-right: 10px;
  border-radius: 16px;
  background-color: #fff;
  padding: 4px 8px;
  color: #0074D9;
}

.movie__rating{
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 16px;
  background-color: #fff;
  padding: 4px 8px;
  color: #0074D9;
}
