/* Results Container */
.results-container {
    width: 75%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
   height: 100%;
  }
  

  .movie-container{
    width: 35%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    clear: both; /* Ensure the buttons are below the movie cards */
  }
  
  .pagination button {
    background-color: transparent; /* Blue background color */
    color: #ffffff; /* White font color */
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
    cursor: pointer;
    transition: all 0.3s; 
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 116, 217, 0.7);
  }